
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html{
    width, height: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-attachment:fixed;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

button{
    background-color: rgb(53, 0, 55);
}

a{
    font-size: 20px;
}

a: hover{
    //background-color: rgb(136, 70, 138) !important;  
}

.fillHeight{
    min-height: 80%;
    height: 80%;
}

.copyright{
    text-align: center;
    color: grey;
}

.custom-font{
    font-family: 'Calligraffitti' !important;
}

.button{
    color: rgb(136, 70, 138);
}

.separator{
    height: 30px;
}

.hCenter{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.no-border{
    border-top: none !important;
    border-color: rgba(0, 0, 0 , 0) !important;
    box-shadow: none !important;
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#logo{
    font-size: 40px;
}

#mainContainer{
    font-size: 20px;
}

#img{

}

#main{
    height: 100%;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}